<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ludarius{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="/" style="text-decoration: none;">Ludarius</a></h1>
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'my_account' %}">Minha Conta</a>
            <a href="{% url 'logout' %}">Sair</a>
            {% else %}
            <a href="{% url 'login' %}">Entrar</a>
            {% endif %}
        </nav>
    </header>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>