{% extends "base.html" %}

{% block title %}{{ movie.title }} | Ludarius{% endblock %}

{% block content %}

<a href="{% url 'home' %}">← Voltar</a>

<h1>{{ movie.title }}</h1>
{% if movie.poster_url %}
  <img src="{{ movie.poster_url }}" alt="Poster de {{ movie.title }}" width="180">
{% endif %}

{% if movie.original_title %}
  <p><strong>Título original:</strong> {{ movie.original_title }}</p>
{% endif %}

{% if movie.release_date %}
  <p><strong>Lançamento:</strong> {{ movie.release_date }}</p>
{% endif %}

{% if movie.rating %}
  <p><strong>Nota:</strong> {{ movie.rating }}</p>
{% endif %}

{% if movie.synopsis %}
  <p><strong>Sinopse:</strong> {{ movie.synopsis }}</p>
{% endif %}

<hr>

<h2>Onde assistir</h2>

{% if availabilities %}
  <ul>
    {% for a in availabilities %}
      <li>
        <strong>{{ a.platform.name }}</strong>
        — {{ a.get_access_type_display }}
        {% if a.price %} — R$ {{ a.price }}{% endif %}
        {% if a.link %} — <a href="{{ a.link }}" target="_blank" rel="noopener">Abrir</a>{% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Ainda não há disponibilidade cadastrada para este título.</p>
{% endif %}
<hr>
<h2>Comentários</h2>

{% if user.is_authenticated %}
  <form method="post" action="{% url 'add_comment' movie.id %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Adicionar comentário</button>
  </form>

  <hr>

  <ul>
    {% for c in comments %}
    <li>
      <strong>{{ c.user.username }}</strong>
      em {{ c.created_at|date:"d/m/Y H:i" }}:
      <p>{{ c.text }}</p>
    </li>
    {% empty %}
    <li>Ainda não há comentários para este filme.</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Faça login para ver e adicionar comentários.</p>
{% endif %}

{% endblock %}
