<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ludarius</title>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <meta name="theme-color" content="#2b2d42" />
  </head>
  <body>
    <header>
      <h1>Ludarius</h1>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>

    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/static/serviceworker.js');
      }
    </script>
  </body>
</html>
